@model MyTailor.BDO.Orders.OrderHeader

@{
    ViewBag.Title = "Create Order";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-content">
                <div class="form-horizontal">
                    <div class="control-group">
                        @Html.DisplayNameFor(model => model.OrderNumber) : 
                        @Html.TextBoxFor(model => model.OrderNumber, new {@class="input-small uneditable-input"})
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        @Html.DisplayNameFor(model => model.OrderTakenDate) :
                        @Html.TextBoxFor(model => model.OrderTakenDate, "{0:MM/dd/yyyy}", new { @class = "input-small datepicker" })
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        @Html.DisplayNameFor(model => model.AssignedSalesMan.Initials)
                        @Html.DropDownListFor(model => model.AssignedSalesMan.Initials,(SelectList)ViewBag.SalesMen, "",new { @class = "input-small", data_rel="chosen", data_placeholder = "Select a Salesman" })
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        @Html.DisplayNameFor(model => model.Customer.DisplayName)
                        @Html.DropDownListFor(model => model.Customer.DisplayName,(SelectList)ViewBag.Customers, "",new { @class = "input-xlarge", data_rel="chosen", data_placeholder = "Select a Customer" })
                    </div>
                </div>
                <!-- Tab Headers starts -->
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#step1">Step 1: Order Summary</a></li>
                    <li><a href="#step2">Step 2: Measurements</a></li>
                    <li><a href="#step3">Step 3: Payments</a></li>
                    <li><a href="#step4">Step 4: Finished Sizes</a></li>
                </ul>
                <!-- Tab Headers ends -->
                <!-- Tab Contents starts -->
                <div id="myTabContent" class="tab-content">
                    <!-- Tab 1 -->
                    <div class="tab-pane active" id="step1">
                        <div class="box-content">
                            <p style="text-align: right">
                                <a href="javascript:showAddEditWindow(0);" class="btn btn-large btn-primary"><i class="icon-plus-sign icon-white"></i>&nbsp;&nbsp;Add</a>
                            </p>
                            <br />

                            <table id="OrderList" class="table table-bordered table-striped table-condensed">
                                <thead>
                                    <tr>
                                        <th style="display: none">Sequence
                                        </th>
                                        <th style="width: 100px">Material
                                        </th>
                                        <th style="width: 150px">Material Descirption
                                        </th>
                                        <th style="width: 100px">Items
                                        </th>
                                        <th style="width: 85px">Sub Item 1
                                        </th>
                                        <th style="width: 85px">Sub Item 2
                                        </th>
                                        <th style="width: 100px">Total in US$
                                        </th>
                                        <th style="width: 85px">Tailor Code
                                        </th>
                                        <th style="width: 75px">Yardage
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.OrderMaterials)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Sequence)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MaterialName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MaterialDescription)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ItemDescription.DisplayText)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SubItem1)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SubItem2)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MaterialPrice)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AssignedTailor.TailorCode)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Yardage)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Tab 2 -->
                    <div class="tab-pane" id="step2">
                        <h3>Messages <small>small text</small></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. Nulla tellus elit, varius non commodo eget, mattis vel eros. In sed ornare nulla. Donec consectetur, velit a pharetra ultricies, diam lorem lacinia risus, ac commodo orci erat eu massa. Sed sit amet nulla ipsum. Donec felis mauris, vulputate sed tempor at, aliquam a ligula. Pellentesque non pulvinar nisi.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor.</p>
                    </div>
                    <!-- Tab 3 -->
                    <div class="tab-pane" id="step3">
                        <h3>Custom <small>small text</small></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. Nulla tellus elit, varius non commodo eget, mattis vel eros. In sed ornare nulla. Donec consectetur, velit a pharetra ultricies, diam lorem lacinia risus, ac commodo orci erat eu massa. Sed sit amet nulla ipsum. Donec felis mauris, vulputate sed tempor at, aliquam a ligula. Pellentesque non pulvinar nisi.</p>
                    </div>
                    <!-- Tab 4 -->
                    <div class="tab-pane" id="step4">
                        <h3>Messages <small>small text</small></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. Nulla tellus elit, varius non commodo eget, mattis vel eros. In sed ornare nulla. Donec consectetur, velit a pharetra ultricies, diam lorem lacinia risus, ac commodo orci erat eu massa. Sed sit amet nulla ipsum. Donec felis mauris, vulputate sed tempor at, aliquam a ligula. Pellentesque non pulvinar nisi.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor.</p>
                    </div>
                </div>

                <!-- Tab Contents ends -->
            </div>
        </div>
        <!--/span-->
    </div> <!--/row-->
}
<text>
    <script type="text/javascript">
        function showAddEditWindow(id) {
            $('#materialid').value = id;
            $('#material').modal('show');
        }
        </script>
</text>

<div class="modal hide fade" id="material">

    @{Html.RenderPartial("_MaterialAddEdit", new MyTailor.BDO.Orders.OrderMaterialItem());}

</div>

